html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.layout-container {
  border: 3px solid #333;
  padding: 20px;
  background: #fafafa;
}

.box {
  border: 2px solid #4a4a4a;
  padding: 15px;
  margin: 10px 0;
  background: white;
  border-radius: 6px;
}

header{
  background-color: black;
  color: whitesmoke;
}